html.home-page,
.home-page body,
.home-page body>div,
.home-page body>div>div,
.home-page body>div>div>main {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: auto;
}

.name {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}

.second-name {
    color: var(--secondNameColor);
}

.title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
}

.social {
    margin-top: 20px;
}

.social-list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    border: 1px solid var(--socialItemBorderColor);
    border-radius: 50%;
    margin: .25rem;
}

.social-item>a {
    color: var(--socialLinkColor);
    text-transform: none;
}

.social-item:hover {
    border: 1px solid var(--socialItemBorderHoverColor);
}

.social-item>a:hover {
    color: var(--socialLinkHoverColor);
}

.social-item>a>svg {
    padding: 10px;
    vertical-align: middle;
}