/** Theme variables **/

body {
    --socialLinkBorderColor: var(--grey);
    --socialLinkBorderHoverColor: var(--red);
}

body.dark {
    --socialLinkBorderColor: var(--grey);
    --socialLinkBorderHoverColor: var(--pink);
}


/** Social Links Styles **/

.social {
    margin-top: 20px;
}

.social-list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-item {
    border: 1px solid var(--socialLinkBorderColor);
    border-radius: 50%;
    margin: .25rem;
}

.social-item:hover {
    border: 1px solid var(--socialLinkBorderHoverColor);
}

.social-item>a>svg {
    padding: 10px;
    vertical-align: middle;
}