---
import Avatar from '../Avatar.astro'

import "./ThoughtAuthor.css"
---
<div class="thought-author-wrapper">
    <div class="logo">
        <div class="avatar">
            <Avatar />
        </div>
    </div>
    <div class="name">• Roman Glushko •</div>
    <p class="thought-section-descr">
        My thoughts, pieces of advice and life experience <br />
        that will help you to <strong>overcome</strong> your life struggles
    </p>
</div>