---
import { Image } from "astro:assets"

import "./Avatar.css"

const {itemprop} = Astro.props;
// <!-- widths={[150]}  -->
// <!-- aspectRatio={1} -->
// <!-- formats={['avif', 'webp']}  -->
---
<div class="avatar" itemprop={itemprop}>
    <Image 
        class="logo-img"
        width={160}
        height={160}
        decoding="async"
        src={"/me/photo3.jpg"} 
        alt={`Roman Glushko - Machine Learning and Software Engineer, Life Explorer`} 
    />
</div>