---
import "./MainNavigation.css"

export interface Props {
	space: string;
}

const { space } = Astro.props
---
<nav class="main-navigation">
  <ul>
    {space !== "homepage" && (
      <li>
        <a rel="home" href="/" title="Go Home">Home</a>
      </li>
    )}
    <li>
      <a href="/blog/" title="Go to My Technical Blog">Blog</a>
    </li>
    <li>
      <a href="/thoughts/" title="Go to My Thoughts">Thoughts</a>
    </li>
    <li>
      <a href="/projects/" title="Go to My Projects">Projects</a>
    </li>
    <li>
      <a href="/cv/machine-learning-engineer/" title="Review My CVs">CV</a>
    </li>
  </ul>
</nav>
