/** Theme variables **/

body {
    --avatarBorderColor: var(--grey);
    --secondNameColor: var(--red);
    --storyLinkColor: var(--red);
}

body.dark {
    --avatarBorderColor: var(--grey);
    --secondNameColor: var(--pink);
    --storyLinkColor: var(--pink);
}


/** Homepage Styles **/

html.home-page,
.home-page body,
.home-page body>div,
.home-page body>div>div,
.home-page body>div>div>div {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.sidebar.column {
    flex: 20%;
}

@media (max-width: 575.98px) {
    html.home-page,
    .home-page body,
    .home-page body>div,
    .home-page body>div>div,
    .home-page body>div>div>div {
        height: auto;
    }
    .container {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .row {
        display: block;
    }
    .my-story-content {
        text-align: justify;
    }
    .sidebar.column,
    .column {
        width: 100%;
    }
    .social-item>a>svg {
        padding: 20px;
    }
    .theme-switcher {
        margin-bottom: 20px;
    }
}

.my-story-content {
    line-height: 1.5;
    max-width: 800px;
}

.my-story-content .intro {
   text-align: center;
}

.my-story-content .intro .hey {
    margin-bottom: 8px;
}

.my-story-content .intro .title-summary {
    margin-top: 0;
}

.my-story-content a {
    color: var(--storyLinkColor);
    font-weight: 700;
}

.name {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.second-name {
    color: var(--secondNameColor);
}

.title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
}