/** Theme variables **/

body {
    --avatarBorderColor: var(--grey);
    --secondNameColor: var(--red);
}

body.dark {
    --avatarBorderColor: var(--grey);
    --secondNameColor: var(--pink);
}


/** Homepage Styles **/

html.home-page,
.home-page body,
.home-page body>div,
.home-page body>div>div,
.home-page body>div>div>div {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: auto;
}

.name {
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
}

.second-name {
    color: var(--secondNameColor);
}

.title {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.2rem;
}