html {
    --cvItemColor: var(--black);
    --cvItemHighlightColor: var(--white);
    --cvItemHighlightBgColor: var(--black);
}

html.dark {
    --cvItemColor: var(--white);
    --cvItemHighlightColor: var(--midnight);
    --cvItemHighlightBgColor: var(--white);
}

.resume-list {
    max-width: 50rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    gap: 2rem;
    line-height: 1.4;
}

.resume-list .resume-item {
    color: var(--cvItemColor);
    border: 3px solid var(--cvItemColor);
    border-radius: 0.3rem;
}

.resume-list a.resume-item article {
    padding: 2rem;
}

.resume-list a.resume-item {
    transition: 0.15s;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}

.resume-list a.resume-item:hover {
    color: var(--cvItemHighlightColor);
    background-color: var(--cvItemHighlightBgColor);
}

@media (max-width: 768px) {
    .resume-list {
        display: block;
    }
}