.blog-header-wrapper {
    display: flex;
    justify-content: center;
}

.blog-header-wrapper .logo-wrapper {
    align-items: center;
    display: flex;
}

.blog-header-wrapper .logo {
    border-radius: 50%;
    width: 122px;
    height: 122px;
    border: 1px solid var(--avatarBorderColor);
}

.blog-header-wrapper .logo-img {
    width: 7rem;
    height: auto;
    border-radius: 50%;
    transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    -webkit-transform: translate(5px, 5px);
}

.blog-header-wrapper .name {
    font-size: 2rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.blog-header-wrapper .blog-title {
    padding-left: 1rem;
}

.blog-header-wrapper .blog-title {
    color: var(--thoughtsPageTitleColor);
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

@media (max-width: 575px) {
    .blog-header-wrapper .blog-title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .blog-header-wrapper .name {
        font-size: 1.5rem;
    }
}

.blog-header-wrapper .blog-title a {
    color: var(--thoughtsPageTitleColor);
}