body {
    --footerIconColor: var(--blackLigher);
    --footerBgColor: var(--grey);
    --copyrightColor: var(--midnightDarker);
}

body.dark {
    --footerIconColor: var(--white);
    --footerBgColor: var(--midnightDarker);
    --copyrightColor: var(--grey);
}


/**
** Sticky footer - https://css-tricks.com/couple-takes-sticky-footer/#:~:text=The%20purpose%20of%20a%20sticky,bottom%20of%20the%20browser%20window.
**/

footer {
    background-color: var(--footerBgColor);
    color: var(--footerIconColor);
}

footer a {
    color: var(--footerIconColor);
}

footer .footer-wrapper {
    padding: 4rem 1rem;
}

footer .footer-wrapper .copyright {
    color: var(--copyrightColor);
    text-align: center;
}

footer .footer-wrapper .copyright a {
    color: var(--copyrightColor);
    font-weight: bold;
}

footer .footer-wrapper .copyright a:hover {
    color: var(--footerIconColor);
}

.footer-separator {
    display: flex;
    justify-content: center;
}

.footer-separator .separator {
    background-color: white;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    margin-right: 20px;
}

footer .social-list .social-item {
    margin: 0.5rem;
}

.copyright {
    font-size: 1.1rem;
    margin: 2rem auto 0;
}