/** Theme variables **/

body {
    --bodyBackgroundColor: var(--white);
    --bodyTextColor: var(--black);
    --linkColor: var(--black);
    --linkHoverColor: var(--red);
}

body.dark {
    --bodyBackgroundColor: var(--midnight);
    --bodyTextColor: var(--white);
    --linkColor: var(--white);
    --linkHoverColor: var(--pink);
}


/** General Styles **/

body {
    color: var(--bodyTextColor);
    background-color: var(--bodyBackgroundColor);
    box-sizing: border-box;
    font-family: 'Ledger', serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    transition: color 0.2s ease-out, background 0.2s ease-out;
    -webkit-font-smoothing: antialiased;
}

a {
    color: var(--linkColor);
    text-decoration: none;
}

a:hover {
    color: var(--linkHoverColor);
}

.avatar {
    margin: 0 auto;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 1px solid var(--avatarBorderColor);
}

.logo-img {
    width: 10rem;
    height: auto;
    border-radius: 50%;
    transform: translate(5px, 5px);
}

.clearfix {
    clear: both;
}