/** Main Theme Variables **/

body {
    --black: #000000;
    --red: #e74c3c;
    --white: #ffffff;
    --grey: #ebebeb;
}

body.dark {
    --pink: #ffa7c4;
    --white: #ffffff;
    --midnight: #373c49;
    --midnightDarker: #0004;
    --grey: #ebebeb;
}